 # MG_01 Data Ingest and Write

In [1]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import os
import mysql.connector
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
from sklearn.metrics import r2_score, median_absolute_error, mean_absolute_error
from sklearn.metrics import median_absolute_error, mean_squared_error, mean_squared_log_error
from sklearn.metrics import mean_squared_error
import datetime

credentials = 'mysql://capstone_user:Capstone22!@capstone-database.czwmid1hzf1x.us-west-2.rds.amazonaws.com/mysqldb'

## Start Inference

In [2]:
microgrid_name = 'microgrid_01'
microgrid_id = 'mg_01'
mg_id = 'mg_01'

In [3]:
# print table in database
mydb = mysql.connector.connect(
  host="capstone-database.czwmid1hzf1x.us-west-2.rds.amazonaws.com",
  user="capstone_user",
  password="Capstone22!",
  database="mysqldb"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('microgrid_actuals_15m',)
('microgrid_actuals_30m',)
('microgrid_actuals_45m',)
('microgrid_actuals_60m',)
('microgrid_actuals_hr_24',)
('microgrid_predictions_15m',)
('microgrid_predictions_30m',)
('microgrid_predictions_45m',)
('microgrid_predictions_60m',)
('microgrid_predictions_hr_24',)
('microgrid_test_15m',)
('microgrid_test_30m',)
('microgrid_test_45m',)
('microgrid_test_60m',)
('microgrid_test_hr_24',)

In [4]:
# read data from csv file
power_data_west = pd.read_csv("/Volumes/GoogleDrive-106210116385953331360/My Drive/github/development/w210-capstone-energyloadpredictor/data/westdata_augmented.csv")
power_data_west.head()

/Users/samueljohngomez/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,Unnamed: 0,index_x,service,start,end,usage,cost,temp,event_flag,demand,sfm,index_y,dt,dt_iso,humidity,humidity_temp,pt_date
0,0,0,west,2019-01-29 00:00:00,2019-01-29 00:15:00,211.2,NaN,54.0,NaN,844.8,2019-01-29 00,680,1548748800,2019-01-29 08,21,63.86,2019-01-29 00
1,1,1,west,2019-01-29 00:15:00,2019-01-29 00:30:00,210.4,NaN,54.0,NaN,841.6,2019-01-29 00,680,1548748800,2019-01-29 08,21,63.86,2019-01-29 00
2,2,2,west,2019-01-29 00:30:00,2019-01-29 00:45:00,208.0,NaN,54.0,NaN,832.0,2019-01-29 00,680,1548748800,2019-01-29 08,21,63.86,2019-01-29 00
3,3,3,west,2019-01-29 00:45:00,2019-01-29 01:00:00,212.0,NaN,54.0,NaN,848.0,2019-01-29 00,680,1548748800,2019-01-29 08,21,63.86,2019-01-29 00
4,4,4,west,2019-01-29 01:00:00,2019-01-29 01:15:00,203.2,NaN,55.0,NaN,812.8,2019-01-29 01,681,1548752400,2019-01-29 09,21,63.41,2019-01-29 01

In [5]:
power_data_west['end'] = pd.to_datetime(power_data_west['end'], infer_datetime_format=True)
indexedDataset = power_data_west.set_index(['end'])

In [6]:
power_data_west['end'].min()

Timestamp('2019-01-29 00:15:00')

In [7]:
power_data_west['end'].max()

Timestamp('2022-01-25 16:00:00')

In [8]:
power_data_west['end'].max()

Timestamp('2022-01-25 16:00:00')

In [9]:
power_data_west['month'] = power_data_west['end'].dt.strftime('%b')

In [10]:
from calendar import month_abbr

lower_ma = [m.lower() for m in month_abbr]

# one-liner with Pandas
power_data_west['month_int'] = power_data_west['month'].str.lower().map(lambda m: lower_ma.index(m)).astype('Int8')

In [11]:
power_data_west_mod = power_data_west[['end','demand', 'temp', 'humidity', 'month_int']].copy()

In [12]:
power_data_west_mod.head()

                  end  demand  temp  humidity  month_int
0 2019-01-29 00:15:00   844.8  54.0        21          1
1 2019-01-29 00:30:00   841.6  54.0        21          1
2 2019-01-29 00:45:00   832.0  54.0        21          1
3 2019-01-29 01:00:00   848.0  54.0        21          1
4 2019-01-29 01:15:00   812.8  55.0        21          1

In [13]:
power_data_west_mod.describe()

              demand          temp       humidity     month_int
count  104596.000000  104588.00000  104608.000000  104608.00000
mean     1238.634456      67.39232      52.635401       6.54298
std       302.399419      16.59371      22.815913       3.43464
min         0.000000      29.00000       3.000000       1.00000
25%      1008.000000      54.00000      34.000000       4.00000
50%      1232.000000      66.00000      49.000000       7.00000
75%      1472.000000      79.00000      70.000000      10.00000
max      2124.800000     114.00000     100.000000      12.00000

In [14]:
power_data_west_mod.shape

(104608, 5)

In [15]:
power_data_west_monthly = power_data_west_mod.resample('M', on='end').agg({'demand':'sum', 'temp':'max', 'humidity':'max', 'month_int':'max'})

In [16]:
power_data_west_monthly.describe()

             demand        temp    humidity  month_int
count  3.700000e+01   37.000000   37.000000  37.000000
mean   3.501519e+06   92.378378   92.675676   6.351351
std    9.434659e+05   14.234839    8.618630   3.568506
min    2.772160e+05   65.000000   66.000000   1.000000
25%    2.839475e+06   81.000000   92.000000   3.000000
50%    3.485974e+06   91.000000   96.000000   6.000000
75%    4.200819e+06  105.000000   98.000000   9.000000
max    4.855107e+06  114.000000  100.000000  12.000000

In [17]:
power_data_west_monthly

                demand   temp  humidity  month_int
end
2019-01-31   277216.00   71.0        92          1
2019-02-28  2218374.40   73.0        97          2
2019-03-31  2509120.00   82.0        96          3
2019-04-30  2498371.21   96.0        95          4
2019-05-31  3713468.80   91.0       100          5
2019-06-30  4560950.40  107.0        82          6
2019-07-31  4615408.00  109.0        72          7
2019-08-31  4078729.60  107.0        81          8
2019-09-30  3485974.40  102.0        95          9
2019-10-31  3125310.40   90.0        91         10
2019-11-30  3014559.98   81.0        95         11
2019-12-31  2839475.20   73.0        99         12
2020-01-31  2657459.20   65.0        98          1
2020-02-29  2448260.80   82.0        96          2
2020-03-31  2675177.60   84.0       100          3
2020-04-30  2664576.00   91.0       100          4
2020-05-31  3211790.39  105.0        96          5
2020-06-30  3941260.80  104.0        93          6
2020-07-31  4237448.00  107.0        66          7
2020-08-31  4534379.20  107.0        78          8
2020-09-30  4738486.40  104.0        93          9
2020-10-31  4598334.40   97.0        97         10
2020-11-30  3399993.60   90.0        96         11
2020-12-31  3459385.60   79.0        98         12
2021-01-31  3484392.00   76.0        98          1
2021-02-28  3039411.20   74.0        99          2
2021-03-31  3699497.59   86.0        98          3
2021-04-30  3342217.60   97.0       100          4
2021-05-31  4185731.20  103.0        92          5
2021-06-30  4855107.24  114.0        92          6
2021-07-31  3984480.00  114.0        79          7
2021-08-31  4376488.00  110.0        77          8
2021-09-30  4704580.80  112.0        96          9
2021-10-31  4200819.20   99.0        97         10
2021-11-30  4068856.00   80.0        98         11
2021-12-31  3493072.00   81.0        99         12
2022-01-31  2618046.38   75.0        98          1

In [18]:
power_data_west_monthly['id'] = str(mg_id)

power_data_west_monthly = power_data_west_monthly[['id','demand', 'temp', 'humidity', 'month_int']].copy()

In [19]:
power_data_west_monthly

               id      demand   temp  humidity  month_int
end
2019-01-31  mg_01   277216.00   71.0        92          1
2019-02-28  mg_01  2218374.40   73.0        97          2
2019-03-31  mg_01  2509120.00   82.0        96          3
2019-04-30  mg_01  2498371.21   96.0        95          4
2019-05-31  mg_01  3713468.80   91.0       100          5
2019-06-30  mg_01  4560950.40  107.0        82          6
2019-07-31  mg_01  4615408.00  109.0        72          7
2019-08-31  mg_01  4078729.60  107.0        81          8
2019-09-30  mg_01  3485974.40  102.0        95          9
2019-10-31  mg_01  3125310.40   90.0        91         10
2019-11-30  mg_01  3014559.98   81.0        95         11
2019-12-31  mg_01  2839475.20   73.0        99         12
2020-01-31  mg_01  2657459.20   65.0        98          1
2020-02-29  mg_01  2448260.80   82.0        96          2
2020-03-31  mg_01  2675177.60   84.0       100          3
2020-04-30  mg_01  2664576.00   91.0       100          4
2020-05-31  mg_01  3211790.39  105.0        96          5
2020-06-30  mg_01  3941260.80  104.0        93          6
2020-07-31  mg_01  4237448.00  107.0        66          7
2020-08-31  mg_01  4534379.20  107.0        78          8
2020-09-30  mg_01  4738486.40  104.0        93          9
2020-10-31  mg_01  4598334.40   97.0        97         10
2020-11-30  mg_01  3399993.60   90.0        96         11
2020-12-31  mg_01  3459385.60   79.0        98         12
2021-01-31  mg_01  3484392.00   76.0        98          1
2021-02-28  mg_01  3039411.20   74.0        99          2
2021-03-31  mg_01  3699497.59   86.0        98          3
2021-04-30  mg_01  3342217.60   97.0       100          4
2021-05-31  mg_01  4185731.20  103.0        92          5
2021-06-30  mg_01  4855107.24  114.0        92          6
2021-07-31  mg_01  3984480.00  114.0        79          7
2021-08-31  mg_01  4376488.00  110.0        77          8
2021-09-30  mg_01  4704580.80  112.0        96          9
2021-10-31  mg_01  4200819.20   99.0        97         10
2021-11-30  mg_01  4068856.00   80.0        98         11
2021-12-31  mg_01  3493072.00   81.0        99         12
2022-01-31  mg_01  2618046.38   75.0        98          1

In [20]:
df_train = power_data_west_monthly[power_data_west_monthly.index <= '2021-03-31']

In [21]:
df_test = power_data_west_monthly[power_data_west_monthly.index > '2021-03-31']

In [22]:
df_train.head()

               id      demand  temp  humidity  month_int
end
2019-01-31  mg_01   277216.00  71.0        92          1
2019-02-28  mg_01  2218374.40  73.0        97          2
2019-03-31  mg_01  2509120.00  82.0        96          3
2019-04-30  mg_01  2498371.21  96.0        95          4
2019-05-31  mg_01  3713468.80  91.0       100          5

In [23]:
df_test.head()

               id      demand   temp  humidity  month_int
end
2021-04-30  mg_01  3342217.60   97.0       100          4
2021-05-31  mg_01  4185731.20  103.0        92          5
2021-06-30  mg_01  4855107.24  114.0        92          6
2021-07-31  mg_01  3984480.00  114.0        79          7
2021-08-31  mg_01  4376488.00  110.0        77          8

In [24]:
# write actual data to sql table
df_train.to_sql('microgrid_actuals_monthly', con=credentials, if_exists='replace')

In [25]:
# write test data to sql table
df_test.to_sql('microgrid_test_monthly', con=credentials, if_exists='replace')