 # Inference for Microgrid 01 v03 - Linear Model

In [56]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import pandas as pd
import os
import mysql.connector
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar
from sklearn.metrics import r2_score, median_absolute_error, mean_absolute_error
from sklearn.metrics import median_absolute_error, mean_squared_error, mean_squared_log_error
from sklearn.metrics import mean_squared_error
import datetime

%matplotlib inline
plt.rcParams.update({'figure.figsize': (10, 7), 'figure.dpi': 120})
# user / password / endpoint / db name
credentials = 'mysql://capstone_user:Capstone22!@capstone-database.czwmid1hzf1x.us-west-2.rds.amazonaws.com/mysqldb'

## Read Data

In [57]:
microgrid_name = 'microgrid_02'
microgrid_id = 'mg_02'

In [58]:
# read data from csv file
microgrid_raw = pd.read_csv("/Volumes/GoogleDrive-106210116385953331360/My Drive/github/w210-capstone-energyloadpredictor/data/east_interval_data_01-29-2019_01-27-2021.csv")
microgrid_raw.head()

,Service Agreement,Start Date Time,End Date Time,Usage,Usage Unit,Cost,Currency Unit,Avg. Temperature,Temperature Unit,Event Flags,Peak Demand,Demand Unit
0,east,1/29/19 0:00,1/29/19 0:15,51.2,KWH,NaN,NaN,54.0,FAHRENHEIT,NaN,204.8,KW
1,east,1/29/19 0:15,1/29/19 0:30,52.8,KWH,NaN,NaN,54.0,FAHRENHEIT,NaN,211.2,KW
2,east,1/29/19 0:30,1/29/19 0:45,54.4,KWH,NaN,NaN,54.0,FAHRENHEIT,NaN,217.6,KW
3,east,1/29/19 0:45,1/29/19 1:00,52.8,KWH,NaN,NaN,54.0,FAHRENHEIT,NaN,211.2,KW
4,east,1/29/19 1:00,1/29/19 1:15,53.6,KWH,NaN,NaN,55.0,FAHRENHEIT,NaN,214.4,KW

In [59]:
# print table in database
mydb = mysql.connector.connect(
  host="capstone-database.czwmid1hzf1x.us-west-2.rds.amazonaws.com",
  user="capstone_user",
  password="Capstone22!",
  database="mysqldb"
)

mycursor = mydb.cursor()

mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

('_01_microgrid_actuals',)
('_02_microgrid_test',)
('_03_microgrid_predictions_15',)
('micro_grid_east_act_pred_15',)
('micro_grid_east_actuals',)
('micro_grid_east_clean',)
('micro_grid_east_predict_15',)
('micro_grid_east_raw',)
('micro_grid_west_act_pred_15',)
('micro_grid_west_actuals',)
('micro_grid_west_clean',)
('micro_grid_west_predict_15',)
('micro_grid_west_raw',)
('microgrid_01_actuals',)
('microgrid_01_predictions_15',)
('microgrid_01_raw',)
('microgrid_01_test',)
('microgrid_02_actuals',)
('microgrid_02_predictions_15',)
('microgrid_02_raw',)
('microgrid_02_test',)
('microgrid_actuals',)
('microgrid_actuals_15',)
('microgrid_master',)
('microgrid_test_15',)
('model_err_eval_results',)
('model_error_eval_master',)
('model_master',)

In [60]:
# write raw data to sql table
microgrid_raw.to_sql('microgrid_02_raw', con=credentials, if_exists='append')

In [61]:
def clean_data(data, mg_id = np.nan):
    df = data.copy(deep=True)
    
    # drop columns
    df = df.drop(columns=['Usage Unit', 'Currency Unit', 'Temperature Unit', 'Demand Unit', 'Usage', 'Service Agreement', 'Start Date Time', 'Cost', 'Event Flags'])
    
    # mapper for column rename
    rename_mapper = {'End Date Time':'end',
                 'Avg. Temperature':'temp',
                 'Peak Demand':'demand'}

    # rename columns
    df = df.rename(mapper=rename_mapper, axis='columns')
    
    # convert columns to datetime
    df.end = pd.to_datetime(df.end)
    
    # replace with missing values with previous value
    df.ffill(inplace=True)
    
    # create microgrid id column
    df['id'] = str(mg_id)
    
    # relocate id column to position 1
    df.insert(1, 'id', df.pop('id'))
    
    return df

In [62]:
microgrid_clean = clean_data(microgrid_raw, microgrid_id)

In [63]:
microgrid_clean.head(5)

                  end     id  temp  demand
0 2019-01-29 00:15:00  mg_02  54.0   204.8
1 2019-01-29 00:30:00  mg_02  54.0   211.2
2 2019-01-29 00:45:00  mg_02  54.0   217.6
3 2019-01-29 01:00:00  mg_02  54.0   211.2
4 2019-01-29 01:15:00  mg_02  55.0   214.4

## Feature Engineering

In [64]:
microgrid_feat = microgrid_clean.copy()

In [65]:
microgrid_feat['month'] = microgrid_feat['end'].dt.strftime('%b')

In [66]:
microgrid_feat['day_of_week'] = microgrid_feat['end'].dt.day_name()

In [67]:
date_range = pd.date_range(start=str(microgrid_feat['end'].min()), end=str(microgrid_feat['end'].max()))

cal = calendar()
holidays = cal.holidays(start='2019-01-01 00:00:00', end='2022-01-27 00:00:00')

microgrid_feat['holiday'] = microgrid_feat['end'].dt.date.astype('datetime64').isin(holidays)

In [68]:
microgrid_feat.head()

                  end     id  temp  demand month day_of_week  holiday
0 2019-01-29 00:15:00  mg_02  54.0   204.8   Jan     Tuesday    False
1 2019-01-29 00:30:00  mg_02  54.0   211.2   Jan     Tuesday    False
2 2019-01-29 00:45:00  mg_02  54.0   217.6   Jan     Tuesday    False
3 2019-01-29 01:00:00  mg_02  54.0   211.2   Jan     Tuesday    False
4 2019-01-29 01:15:00  mg_02  55.0   214.4   Jan     Tuesday    False

In [69]:
microgrid_feat.tail()

                       end     id  temp  demand month day_of_week  holiday
104731 2022-01-26 23:00:00  mg_02  51.0   566.4   Jan   Wednesday    False
104732 2022-01-26 23:15:00  mg_02  51.0   588.8   Jan   Wednesday    False
104733 2022-01-26 23:30:00  mg_02  51.0   585.6   Jan   Wednesday    False
104734 2022-01-26 23:45:00  mg_02  51.0   560.0   Jan   Wednesday    False
104735 2022-01-27 00:00:00  mg_02  51.0   576.0   Jan    Thursday    False

In [70]:
microgrid_feat.describe()

                temp         demand
count  104736.000000  104736.000000
mean       67.375000     481.149771
std        16.590894     187.970986
min        29.000000       0.000000
25%        54.000000     361.600000
50%        66.000000     483.200000
75%        79.000000     585.600000
max       114.000000    1500.800000

In [71]:
microgrid_feat.shape

(104736, 7)

In [72]:
microgrid_feat.dtypes

end            datetime64[ns]
id                     object
temp                  float64
demand                float64
month                  object
day_of_week            object
holiday                  bool
dtype: object

In [73]:
#For checking missing values in dataset
microgrid_feat.isna().sum()

end            0
id             0
temp           0
demand         0
month          0
day_of_week    0
holiday        0
dtype: int64

In [74]:
zero_usage_df = microgrid_feat.loc[microgrid_feat['demand'] == 0]
zero_usage_df.count()

end            26
id             26
temp           26
demand         26
month          26
day_of_week    26
holiday        26
dtype: int64

In [75]:
def train_valid_test_split(df, train_size=0.7, valid_size=0.25):
    
    train_index = int(len(df)*train_size)
    valid_index = int(len(df)*valid_size)
    
    df_train = df.iloc[:train_index]
    
    df_valid = df.iloc[train_index : train_index + valid_index]
    
    df_test = df.iloc[train_index + valid_index : ]
    
    return df_train, df_valid, df_test

In [76]:
df_train, df_valid, df_test = train_valid_test_split(microgrid_feat, train_size=0.7, valid_size=0.25 )

In [77]:
df_train.shape, df_valid.shape, df_test.shape

((73315, 7), (26184, 7), (5237, 7))

In [78]:
df_actuals = df_train.append(df_valid)

In [79]:
# write raw data to sql table
df_actuals.to_sql('microgrid_actuals_15', con=credentials, if_exists='replace', index=False)

In [80]:
# write raw data to sql table
df_test.to_sql('microgrid_test_15', con=credentials, if_exists='replace', index=False)